<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='styles.css')}}>
    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the world of DevOps</h1>
        <img src="https://habrastorage.org/getpro/habr/upload_files/230/768/e4e/230768e4e99bfde29d8eb68b2d5f42fe.png" alt="DevOps" width="700px">
    </div>
    
</body>
</html>